<ul>
  <% @bookmarks.each do |bookmark| %>
  <li><%= bookmark.movie.title %> <%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
  <% end %>
</ul>

<%# <%= cl_image_tag("https://res.cloudinary.com/dyyolkimj/image/upload/v1677233623/epubhsfdivaqwgvvl0ly.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%# <%= cl_image_tag("https://res.cloudinary.com/dyyolkimj/image/upload/v1677233623/epubhsfdivaqwgvvl0ly.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %> %> %>
